<!DOCTYPE html>
<html>
<head>
	<title>Table test</title>
</head>
<body>
	<center>
		<table BORDER=3 CELLSPACING=3 CELLPADDING=6 width="80%">

				<tr>
					<th>Name</th>
					<th>Abc</th>
				</tr>
				
				<tr>
					<td rowspan="2">Bangle</td>
					<td>90</td>
				
				</tr>

				<tr>
					<td>50</td>
				</tr>
				
				<tr>
					<td rowspan="2">Clips</td>
					<td>05</td>		
				</tr>
				
				<tr>
					<td>10</td>
				</tr>
				
				<tr>
					<td>
						<table  BORDER=3 CELLSPACING=3 width="80%">
							<tr>
								<td>Black</td>
								<td>Blue</td>
							</tr>
						</table>
					</td>
					<td>100</td>
				</tr>
			

		</table>
	</center>
</body>
</html>